<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeMinder</title>

  <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon">

  <link href="./output.css" rel="stylesheet">
</head>
<body>
  <section class=" w- mt-24 bg-white w-full shadow-xl border border-gray-50 rounded-lg py-5 px-8">
    <div id="alert" class="hidden absolute top-20 right-5 p-4 mb-4 text-sm text-red-800 rounded-lg bg-gray-50 shadow-lg"></div>
    <form id="add-task-form" class="flex flex-col gap-2">
      <input type="hidden" id="edit-mode" value="false">
      <div class="flex flex-col">
        <label for="deadline">Deadline&#42</label>
        <input class="px-4 py-1 border border-gray-300 rounded-md animate" type="datetime-local" id="deadline" name="deadline" required>
      </div>
      <div class="flex flex-col">
        <label for="title">Title&#42</label>
        <input class="border border-gray-300 rounded-md px-4 py-1" type="text" id="title" name="title" required>
      </div>
      <div class="flex flex-col">
        <label for="description">Description&#42</label>
        <textarea class="border border-gray-300 rounded-md px-4 py-1" id="description" name="description" required></textarea>
      </div>
      <div class="flex flex-col">
        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 ">Type&#42</label>
        <select id="type" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
          <option selected>Choose a task type</option>
          <option value="habit">Habit</option>
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="school">School</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="link" class="block mb-2 text-sm font-medium text-gray-900 ">Link a Habit&#42</label>
        <select id="link" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required >
          <option value="" selected> </option>
          <option value="habit">Habit</option>
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="school">School</option>
        </select>
      </div>
      <div class="flex flex-col w-full relative">
        <label for="repeat">Repeat Every&#42</label>
        <div class="repeat-container absolute w-96 h-9 overflow-hidden -bottom-9 z-50 max-md:max-w-sm max-md:w-full">
          <div id="repeat" class=" flex flex-row gap-3 absolute top-0 left-0 pointer-events-none max-md:static max-md:flex max-md:flex-row max-md:overflow-x-scroll"></div>
        </div>
      </div>
      <div class="flex flex-col mt-5">
        <label for="until">Until&#42</label>
        <input class="border border-gray-300 rounded-md px-4 py-1" type="date" id="until" name="until" required>
      </div>
      <button type="submit" id="submit-task" class="bg-purple-900 rounded-md w-full text-white font-bold text-base py-2">Create Task</button>
    </form>
  </section>
</body>
</html>