<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeMinder</title>

  <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon">

  <link href="./output.css" rel="stylesheet">
</head>
<body>
  <section >
    <!-- Dynamic Greeting -->
    <div class=" pr-16">
      <img class="opacity-20 bg-blend-lighten w-full h-96 object-cover max-md:hidden" src="../src/assets/background.png" alt="weather image">
      <div class="absolute top-32 left-14 flex flex-col gap-6">
        <div class="flex flex-row gap-4 items-start max-w-sm pr-3">
          <img class="h-10 w-10" src="../src/assets/bi--cloud-sun-fill 1.svg" alt="cloud logo">
          <p id="current-time" class=" font-normal text-base text-black text-wrap"></p>
        </div>
        <div class="flex flex-row gap-10">
          <div class="flex flex-row items-start gap-2 w-40">
            <p id="average" class="text-[#54378F] text-8xl font-bold"></p>
            <p class="text-[#54378F] text-5xl font-extrabold mt-2">%</p>
          </div>
          <div class="bg-white rounded-3xl shadow-xl w-52 max-w-md h-fit px-8 py-5 ml-4 flex flex-col gap-1">
            <h6 class="uppercase text-gray-400 font-bold text-xs">Task Completed</h6>
            <h1 id="rated" class="text-black text-4xl font-bold"></h1>
            <div id="progress-bar" class="w-full bg-gray-400 h-2 rounded-full mt-3"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Progress Dividers -->
    <div class="grid grid-cols-2 max-md:grid-cols-4 max-md:overflow-x-scroll gap-5 w-full pr-16 pl-14 mt-7">
      <div class="bg-pink-500 rounded-xl px-6 py-4">
        <h3 class=" font-semibold text-base text-white uppercase">Past Dues</h3>
        <p id="past-dues" class=" font-bold text-6xl text-white">0</p>
      </div>
      <div class=" bg-purple-900 rounded-xl px-6 py-3">
        <h3 class=" font-semibold text-base text-white uppercase">Today</h3>
        <p id="today" class=" font-bold text-6xl text-white">0</p>
      </div>
      <div class=" bg-orange-300 rounded-xl px-6 py-3">
        <h3 class=" font-semibold text-base text-white uppercase">Incoming</h3>
        <p id="incoming" class=" font-bold text-6xl text-white">0</p>
      </div>
      <div class="bg-gray-200 rounded-xl"></div>
    </div>
  </section>

</body>
</html>