<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TimeMinder</title>

  <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon">

  <link href="./output.css" rel="stylesheet">
</head>
<body>
  <section class="pt-24">
    <h1 class="text-black font-bold capitalize">Today Task</h1>

    <ul id="task-list" class="h-[580px] overflow-y-auto">
      <!-- Task cards will be dynamically added here -->
    </ul>
  </section>
</body>
</html>