@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
